mixin input()
    span.form-request__input.form-request__input_effect
        input.input__field.input__field_effect&attributes(attributes)
        label.input__label.input__label_effect(for=attributes.id)
            span.input__label-content.input__label-content_effect= attributes.placeholder