.carousel
    .b-carousel.js-carousel
        button.b-carousel__prev.js-carousel__prev 
            i.material-icons keyboard_arrow_left
        button.b-carousel__next.js-carousel__next
            i.material-icons keyboard_arrow_right
        .b-carousel__wrap.js-carousel__wrap
            .b-carousel__item
                img.b-carousel__img(src='http://via.placeholder.com/1200x280', alt='')
            .b-carousel__item
                img.b-carousel__img(src='img/1.jpg', alt='')
            .b-carousel__item
                img.b-carousel__img(src='img/2.jpg', alt='')
            .b-carousel__item
                img.b-carousel__img(src='img/3.jpg', alt='')
