.carousel {
	// margin-bottom: 25px;
	// width: 100%;
	// // height: auto;
	// overflow: hidden;
}



/* MAIN STYLES */
.b-carousel {
	width: 100%;
	max-height: 17.5em;
	overflow: hidden;
	position: relative;
	box-sizing: border-box;
	@include breakpoint($phone) {
		height: 6em
	}
	
}

	.b-carousel__prev,
	.b-carousel__next {
		position: absolute;
		top: 50%;
		left: 0px;
		width: 75px;
		height: 50px;
		background: transparent;
		transform: translateY(-50%) translateZ(0);
		cursor: pointer;
		white-space: nowrap;
		overflow: hidden;
		border: 0;
		height: 100%;
		z-index: 3;
		outline: none;

	}

		.b-carousel__next {
			left: auto;
			right: 0px;
		}

	.b-carousel__wrap {
		display: flex;
		transition: transform .5s;
		will-change: transform;
		position: relative;
		z-index: 1;
		width: 100%;
		height: 100%;
		height: 17.5em; // Carousel height 
		width: 100%;
		@include breakpoint($phone) {
			height: 10em
		}
	}

		.b-carousel__item {
			flex: 0 0 100%;
			overflow: hidden;
			display: flex;
			align-items: center;
			justify-content: center;
			background-color: #fff;
			width: 100%;
			height: 17.5em;
			@include breakpoint($phone) {
				height: 6em
			}
		}

			.b-carousel__img {
				width: 100%;
				height: 100%;
				object-fit: contain;
				display: block;
			}



.s-notransition {
	transition: 0s;
}