// HOME PAGE
.carousel
    grid-area: slider

.front-content
    grid-area: main
    +breakpoint($phone)
        grid-column: 1/-1
        grid-row: 2/3
        // display: none

.contact-form
    grid-area: contact
    justify-self: center
    justify-self: end
    +breakpoint($phone)
        grid-column: 1/-1
        grid-row: 3/4

.home-grid_lv2
    padding: 10px 0
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: auto
    grid-gap: 1em
    grid-template-areas: "slider slider slider slider slider slider slider slider slider slider slider slider" "main main main main main main main contact contact contact contact contact"
    +breakpoint($phone)
        grid-template-areas: none
        // grid-template-areas: "slider slider slider slider slider slider slider slider slider slider slider slider" "main main main main main main main main main main main main main" "contact contact contact contact contact contact contact contact contact contact contact contact"


// CATALOG SECTION
.catalog-grid_lv2
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-template-rows: auto
    grid-auto-flow: dense
    grid-gap: 1em
    grid-template-areas: "leftSide leftSide leftSide mainContent  mainContent mainContent mainContent mainContent mainContent mainContent mainContent mainContent "
    +breakpoint($phone)
        grid-template-areas: none

.left-sidebar
    grid-area: leftSide
    +breakpoint($phone)
        display: none

.main-content
    grid-area: mainContent
    +breakpoint($phone)
        grid-column: 1 / -1

.catalog-grid_lv3
    display: grid
    grid-template-columns: repeat(auto-fill, 16.875em)
    grid-auto-rows: auto
    grid-gap: 10px
    justify-content: center


// FOOTER

.footer-grid__lv2
    display: grid
    grid-template-columns: repeat(12, 1fr)
    grid-auto-rows: auto
    grid-gap: 1em
    grid-template-areas: "adr adr adr adr menu menu menu menu menu menu menu soc"
    +breakpoint($phone)
        grid-template-areas: "menu" "adr" "soc"

.footer-contacts
    grid-area: adr
    +breakpoint($phone)
        grid-column: 1/-1
.footer-menu
    grid-area: menu
    +breakpoint($phone)
        grid-column: 1/-1
.footer-socials
    grid-area: soc
    +breakpoint($phone)
        grid-column: 1/-1



// AUTH

.section-auth, .section-404
    display: flex

.auth-grid__lv2
    margin: auto

//AUTH LOGIN FORM
.form-login 
    display: grid
    .form__title
        grid-column: auto / span 3
    .form-request__input
        grid-column: auto / span 3
    .form-request__button
        grid-column: 1

        margin: 0
    .span
        grid-column: auto
        place-self: center
    .social__list
        grid-column: auto
        place-self: center
    
//404

.section-404
.grid-404__lv2
    min-width: 75%
    margin: auto
.container-404
    display: flex
    flex-flow: row wrap
    // align-content: center
    // align-items: center
    // justify-content: center
    // flex-flow: column

//NEWS FEED
#news-feed
#news-feed
    .main-content
        display: grid
        grid-template-columns: 100%
        grid-auto-rows: auto
        grid-template-areas: "slider" "title" "news" "pagination"
    .carousel
        grid-area: slider
    .h1-news-feed
        grid-area: title
    .news-feed__list
        grid-area: news
    .pagination
        grid-area: pagination



.news-feed__item
    margin: 10px 0
    display: grid
    grid-gap: 5px
    grid-template-columns: 1fr 4fr
    grid-auto-rows: auto auto 2fr
    grid-template-areas: "img date" "img title" "img desc"
.date-container
    grid-area: date
    align-self: start
    display: flex
    align-content: center
    align-items: center
    margin-left: 5px
.news-feed__link_img
    grid-area: img
.news-feed__link_title
    grid-area: title
.p-news-feed
    grid-area: desc


//NEWS
.news-container
    display: grid
    grid-template-columns: 1fr 4fr
    grid-auto-rows: auto 2fr
    grid-gap: 10px
    grid-template-areas: "img title" "img desc"
    +breakpoint($phone)
        grid-template-areas: "title title  ""img img" "desc desc"
.news-title
    grid-area: title
    margin: 0
.news-description
    margin: 0
    grid-area: desc
.news-img
    grid-area: img


// CONTACTS
.address-container
    display: grid
    grid-template-columns: 100%
    grid-auto-rows: auto
    grid-gap: 10px
    max-width: 50%
    +breakpoint($phone)
    max-width: 100%
.work-address
.work-time
.work-phones
.work-email


// #page-contacts .grid-contacts__lv2
//     display: grid
//     grid-template-columns: 100%


// PRODUCT
.product-grid
    display: grid
    grid-template-columns: 320px 1fr
    grid-auto-rows: auto
    grid-gap: 10px
    grid-template-areas: "img info" "tabs tabs"
    +breakpoint($phone)
        // grid-template-columns: repeat(auto-fill, 100%)
        grid-template-areas: "img img""info info""tabs tabs"


    .product-img-frame
        grid-area: img
        +breakpoint($phone)
            height: 300px
        


    .product-info
        grid-area: info
            

        .product-title
        
        .product-meta

        .quick-contacts

        .product-info

    .nav-tabs
        grid-area: tabs


.product-action
    display: grid
    grid-template-columns: 1fr 2fr
    justify-items: center
    align-items: center
    +breakpoint($phone)
        grid-template-columns: 100%

    .price
            
    .quick-contacts
        justify-self: end
        +breakpoint($phone)
            justify-self: center





// Admin catalog product props

.props__item
    display: grid
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr))
    grid-auto-rows: auto
    grid-gap: 10px
    +breakpoint($phone)
        grid-template-columns: minmax(300px, max-content)
        grid-gap: 0

    .form-row
        &:nth-child(1)
            grid-column: auto/span 1
            +breakpoint($phone)
                grid-column: span 1
        &:nth-child(2)
            grid-column: auto/span 2
            +breakpoint($phone)
                grid-column: span 1
        &:nth-child(3)
            grid-column: auto/span 1
            +breakpoint($phone)
                grid-column: span 1

