extends /_layout

block content
    form.form(enctype='multipart/form-data' method="post")#adminCreateNews
        fieldset.fieldset
            legend.legend= (!news.title) ? 'Создание новости' : 'Редактирование новости'
            .adminCreateNews-layout

                //- -console.log(typeof currentNews.image == 'string')

                +input('image', news.img )(type='file' id='uploadimg' accept='image/')
                +input('title', news.title)(type='text' name='title' placeholder='Название новости')
                +textarea('description', news.description)(type='textarea' rows=7 placeholder='Краткое описание')
                +textarea('fullDescription', news.fullDescription)(type='textarea' rows=20 placeholder='Полное описание')
                +input('date', (!news.date) ? news.date : news.date.format('YYYY-MM-DD'))(type='date')
                +input('published', news.published)(type='checkbox' class='checkbox' placeholder='Опубликовано' id='checkbox-published')
                
                .btn-controls
                    +btn((!news.title) ? 'Создать' : 'Сохранить')(type='submit')
                    +btn('Назад')(href='javascript:history.back()')
                    +btn('Сбросить')(type='reset')