
extends /_layout

block content
    include ../_mixins/index.pug
    h1.admin-title Новости

    .btn-controls
        +btn('Add news')(href='/admin/news/create')

    +table(news)
    
    +pagination(allNews.length, pagination.limit, pagination.page, 2)
