
extends /_layout

block content
    include ../_mixins/index.pug
    h1.admin-title Новости

    .btn-controls
        +btn('Add news')(href='/admin/news/edit')


    +table(newsList)

    +pagination(180, 10, 2)
