mixin menu(menuItems)
    ul.menu__list&attributes(attributes)
        each item in menuItems
            li.menu__item
                a.menu__link( href=`${item.link}`)= item.name
mixin logo()
    a(href="/" class="logo") Складская
        span.logo_yellow Техника



-
    let menus = {
        admin: [
            {link: 'admin-news.html', name: 'Новости'},
            {link: 'admin-catalog.html', name: 'Каталог'},
            {link: 'admin-company.html', name: 'Компания'},
            {link: 'admin-clients.html', name: 'Database'},
            {link: 'auth.html', name: 'Вход'}
        ],
        main: [
            {link: 'news-feed.html', name: 'Новости'},
            {link: 'catalog.html', name: 'Каталог'},
            {link: 'about.html', name: 'О нас'},
            {link: 'contacts.html', name: 'Контакты'}
        ],
        aside: [
            {link: 'auth.html', name: 'Вход'},
            {link: 'api.html', name: 'API'}
        ]
    }



//- LOGO
h2.logo_h2
    +logo()

//- Toggle menu phone


//- Mobile menu
aside#aside.mdc-drawer.mdc-drawer--temporary.mdc-typography
    nav.mdc-drawer__drawer
        header.mdc-drawer__header
            .mdc-drawer__header-content
                +logo()
        nav#icon-with-text-demo.mdc-drawer__content.mdc-list
            if id === 'admin'
                each item in menus.admin
                    a.mdc-list-item(href=`${item.link}`)= item.name
            else
                each item in menus.main
                    a.mdc-list-item(href=`${item.link}`)= item.name
                each item in menus.aside
                    a.mdc-list-item(href=`${item.link}`)= item.name



//- Mobile sidebar
aside#sidebar.mdc-drawer.mdc-drawer--temporary.mdc-typography
    nav.mdc-drawer__drawer
        .mdc-drawer__content
            include ./aside-content.pug

                   

//- Navigation
nav.navbar-container
    div.navbar
        if id === 'admin'
            +menu(menus.admin)
        else
            +menu(menus.main)