mixin news(newsList)
    each news in newsList
        if news.id == newsId
            .news-container
                h1.h1-main-content.news-title= news.title
                p.news-description= news.description
                img.news-img(src=`${news.img}`)
