include ./form/index.pug

include ./catalogLeftSide.pug
include ./catalogList.pug
include ./sideNews.pug
include ./socials.pug
include ./pagination.pug

include ./categoryList.pug
include ./table.pug
include ./categoryPropsList.pug
include ./productProps.pug