mixin productProps(items)
    .product-props
        ul.props__list
            each item in items
                li.product__item
                    +input(`name`, item.name)(type='text', placeholder=`${item.name}, ${item.unit}` disabled)
                    +input(`unit`, item.unit)(type='text', placeholder=`${item.name}, ${item.unit}` disabled hidden)
                    +input('value', item.value)(type='text' placeholder='Значение')