mixin menu(menuItems, className)
    ul.menu__list(class=`${className}`)
        each item in menuItems
            li.menu__item&attributes(attributes)
                a.menu__link( href=`${item.link}`)= item.name


if id === 'admin'
    +menu([
        {link: 'admin-news.html', name: 'Новости'},
        {link: 'admin-catalog.html', name: 'Каталог'},
        {link: 'admin-company.html', name: 'Компания'},
        {link: 'admin-clients.html', name: 'Database'}])(class='menu__item--admin')
else
    +menu([
    {link: 'news-feed.html', name: 'Новости'},
    {link: 'catalog.html', name: 'Каталог'},
    {link: 'about.html', name: 'О нас'},
    {link: 'contacts.html', name: 'Контакты'},
    {link: 'admin.html', name: 'Admin'},
    {link: 'api.html', name: 'API'},
    {link: 'auth.html', name: 'Login'}
    ])