if id === 'home-page'
    header.header
        .contacts
            .container.contacts-container
                .work-days Пн - Пт с 9:00 - 18:00
                .phones +38 067 430 21 51
                .mail rm1f6@ukrservice.biz
            
        .container
            .menu-container
                i.material-icons.sidebar arrow_forward

                include ./menu

                i.material-icons.menu menu
else
    header.header.header_dark
        .contacts
            .container.contacts-container
                .work-days Пн - Пт с 9:00 - 18:00
                .phones +38 067 430 21 51
                .mail rm1f6@ukrservice.biz
            
        .container
            .menu-container
                i.material-icons.sidebar arrow_forward

                include ./menu

                i.material-icons.menu menu