mixin catalog(categories)
    nav.catalog-navigation
        ul.catalog-navigation__list
            each category in categories
                li.catalog-navigation__item
                    h4.category-title= category.title
                    ul.products__list
                        each product in category.products
                            li.product__item
                                a.product__link(href=`${product.link}`)= product.title