.props
    width: 100%

.props__list
    padding: 0
    margin: 0
    list-style: none
    margin-right: 20px
    margin: auto

.props__item
    position: relative
    border-bottom: 1px solid #555

    +breakpoint($phone)
        width: 100%


    &:hover .props__link--delete
        opacity: 1

    .form-row

    .row__label
        display: none

    .input
        +breakpoint($phone)
            width: 100%
            max-width: 100%


        &[name='name']

            +breakpoint($phone)
                max-width: 100%

        &[name='title']

        &[name='unit']
            max-width: 100px

            +breakpoint($phone)
                max-width: 100%

    .props__link

    .props__link--delete
        opacity: 0
        padding: 3px
        font-size: 20px

        +breakpoint($phone)
            display: block
