extends ../_layout/_layout
 

block content
    h1.admin-title Информация о компании

    

    .nav-tabs
        
        ul.nav-tabs__list
            li(data-tab='1').nav-tabs__items.nav-tabs__items--active
                a.nav-tabs__link(href="#") Компания
            li(data-tab='2').nav-tabs__items
                a.nav-tabs__link(href="#") Контакты
            li(data-tab='3').nav-tabs__items
                a.nav-tabs__link(href="#") Доставка
        
        ul.tabs__list

            li(data-list='1').tabs__item.tabs__item--active

                form.form(method="post")#adminCompany
                    +input('companyName')(type='text' placeholder='Название компании')
                    +textarea('about')(type='textarea' rows=20 placeholder='О нас')
                    .btn-controls
                        +btn('Сохранить')(type='submit')
                        +btn('Назад')(href='javascript:history.back()')


            li(data-list='2').tabs__item
                form.form(method="post")#adminContanct
                    .add-elements
                        +select('name-input', ['Телефон', 'Email', 'Адрес'])(placeholder='Тип контакта' class='form-row--select')
                        .btn-controls
                            +btn('Добавить')(id='addElement')
                    .telephones
                        +input('contacts-tel')(type='tel' placeholder='Телефон' data-editable='true')
                    .emails
                        +input('contacts-email')(type='email' placeholder='Email')
                    .adress
                        +textarea('caontacts-adress')(placeholder='Adress' rows=3)
                    .btn-controls
                        +btn('Сохранить')(type='submit')
                        +btn('Назад')(href='javascript:history.back()')
            
            li(data-list='3').tabs__item
                form.form(method="post")#adminDelivery
                    +textarea('delivery')(placeholder='Доставка' rows=25)
                    .btn-controls
                        +btn('Сохранить')(type='submit')
                        +btn('Назад')(href='javascript:history.back()')