extends /_layout
include ../_mixins/index.pug

block content
    - let image = '/img/truckLift.jpg'

    h1.admin-title Создание продукта
    .form
        .btn-controls
            +btn('Сохранить')(type='submit')
            +btn('Сбросить все')(type='reset')
            +btn('Назад')(href='javascript:history.back()')
    .nav-tabs
        ul.nav-tabs__list
            li(data-tab='1').nav-tabs__items.nav-tabs__items--active
                a.nav-tabs__link(href="#") Продукт
            li(data-tab='2').nav-tabs__items
                a.nav-tabs__link(href="#") Характeкристики
            li(data-tab='3').nav-tabs__items
                a.nav-tabs__link(href="#") Описание
            li(data-tab='4').nav-tabs__items
                a.nav-tabs__link(href="#") Преимущества
       
       
       
       
        form.form(enctype="multipart/form-data" method="post")#adminCreateProduct
            
            ul.tabs__list
                li(data-list='1').tabs__item.tabs__item--active
                    .form-group.form-create-product-grid
                        +input('file', image)(type='file' id='uploadimg' accept='image/')
                        +select('category', {categories})(placeholder='Выберите категорию' class='form-row--select')
                        +input('name')(type='text' placeholder='Название продукта')
                        +input('alias')(type='text' placeholder='Alias')
                        +input('model')(type='text' placeholder='Модель продукта')
                        +input('article')(type='text' placeholder='Артикул продукта')
                        +input('brand')(type='text' placeholder='ТМ')
                        +input('price')(type='text' placeholder='Стоимость')
                        +input('priceDollar')(type='text' placeholder='Стоимость в валюте')
                        .product-actions
                            +input('price')(type='text' placeholder='Акционная цена')
                            +input('price')(type='checkbox' placeholder='Топ продаж' id='checkbox-top')
                            +input('price')(type='checkbox' placeholder='Лучшее качество' id='checkbox-qualty')
                            +input('price')(type='checkbox' placeholder='Лучшая цена' id='checkbox-price')
                    .form-group.form-create-product-grid
                        +input('file')(type='file' id='uploadimg' accept='.pdf')

                    
                li(data-list='2').tabs__item
                    +productProps(categories[0].props)
                li(data-list='3').tabs__item
                    +textarea('textarea')(rows=30 placeholder='Описание товара')

                li(data-list='4').tabs__item
                    +textarea('textarea')(rows=30 placeholder='Преимущества товара')
            
    
