extends /_layout

block content
    h1.admin-title Создание категории

    form.form.form-add-category(method="post")#adminCreateCategory
        fieldset.fieldset
            //- legend.legend Форма создания
            .btn-controls
                +btn('Сохранить')(type='submit')
            +input('category')(type='text' placeholder='Имя категория')
            +input('category')(type='text' placeholder='id - категории для продукта')