extends /_layout
include ../_mixins/index.pug

block content
    - let image = '/img/truckLift.jpg'

    h1.admin-title Создание продукта
    .form
        .btn-controls
            +btn('Сохранить')(type='submit' form='adminCreateProduct')
            +btn('Сбросить все')(type='reset')
            +btn('Назад')(href='javascript:history.back()')
    .nav-tabs
        ul.nav-tabs__list
            li(data-tab='1').nav-tabs__items.nav-tabs__items--active
                a.nav-tabs__link(href="#") Продукт
            li(data-tab='2').nav-tabs__items
                a.nav-tabs__link(href="#") Характeкристики
            li(data-tab='3').nav-tabs__items
                a.nav-tabs__link(href="#") Описание
            li(data-tab='4').nav-tabs__items
                a.nav-tabs__link(href="#") Преимущества
       
       
       
       
        form.form(method="post" enctype='multipart/form-data')#adminCreateProduct
            
            ul.tabs__list
                li(data-list='1').tabs__item.tabs__item--active
                    .form-group.form-create-product-grid
                        +input('image', product.img)(type='file' id='uploadimg' accept='image/')
                        +select('category', product.category)(placeholder='Выберите категорию' class='form-row--select')
                        +input('name', product.name)(type='text' placeholder='Название продукта')
                        +input('alias', product.alias)(type='text' placeholder='Alias')
                        +input('model', product.model)(type='text' placeholder='Модель продукта')
                        +input('article', product.article)(type='text' placeholder='Артикул продукта')
                        +input('brand', product.brand)(type='text' placeholder='ТМ')
                        +input('price', product.price)(type='text' placeholder='Стоимость')
                        +input('priceUSD', product.priceUSD)(type='text' placeholder='Стоимость в валюте')
                        .product-actions
                            +input('actionPrice', product.actionPricw)(type='text' placeholder='Акционная цена')
                            +input('actionTop', 'no')(type='radio' placeholder='Не выбрано' id='checkbox-top')
                            +input('actionTop', 'top')(type='radio' placeholder='Топ продаж' id='checkbox-top')
                            +input('actionTop', 'b-quality')(type='radio' placeholder='Лучшее качество' id='checkbox-qualty')
                            +input('actionTop', 'b-price')(type='radio' placeholder='Лучшая цена' id='checkbox-price')
                    .form-group.form-create-product-grid
                        //- +input('file')(type='file' accept='.pdf')

                    
                li(data-list='2').tabs__item
                    .product-props
                        ul.props__list
                            if product.props[0]
                                +productProps(product.props)
                li(data-list='3').tabs__item
                    +textarea('description', product.description)(rows=30 placeholder='Описание товара')

                li(data-list='4').tabs__item
                    +textarea('advantage', product.advantage)(rows=30 placeholder='Преимущества товара')
            
    
