extends /_layout

include ../_mixins/index.pug

block content
    h1.admin-title Каталог

    .nav-tabs
        
        ul.nav-tabs__list
            li(data-tab='1').nav-tabs__items.nav-tabs__items--active
                a.nav-tabs__link(href="#") Продукты
            li(data-tab='2').nav-tabs__items
                a.nav-tabs__link(href="#") Категории и свойства 
            li(data-tab='3').nav-tabs__items
                a.nav-tabs__link(href="#") Параметры свойств
        
        ul.tabs__list

            li(data-list='1').tabs__item.tabs__item--active
                .btn-controls
                    +btn('Добавить продукт')(href='/admin/catalog/product/create')
                +showProducts(products)

            li(data-list='2').tabs__item
                .btn-controls
                    +btn('Добавить категорию')(href='/admin/catalog/category/create')
                +categoryPropsList(categories)
                    
            li(data-list='3').tabs__item
                form.form(method="post" action='/admin/catalog/units/create')#addUnitForm
                    .group-form
                        +input('_id')(type='text' id='unitInput' placeholder='Добавить id')
                        +input('name')(type='text' id='unitInput' placeholder='Добавить ед.измерения')
                        .btn-controls
                            +btn('Сохранить')(type='submit')
                
                form.form(method="post" action='/admin/catalog/units/delete')#deleteUnitForm
                    .group-form
                        +select('_id', units)(multiple placeholder='Добавленные ед.измерения' class='form-row--select' id='unitSelect' size=10)
                        .btn-controls
                            +btn('Удалить')(type='submit' id='btnUnitDelete')
