include ./_mixins/index

-const newsList = require('./../data/news.json');
-const categories = require('./../data/category.json');

-
    let id = 'home-page' //-delete

doctype html
html(lang="ru")
    head
        include ./_includes/head
    

    body(id=`main-page` class=className)
        
        block main
            section.section

        block footer
            footer.footer
                .container.footer-grid__lv2
                    .footer-contacts
                        address.address
                            .address__street
                                span.span Адрес: 
                                a.address__link(href="geo:50.490606, 30.412595") г.Киев ул. Северо-Сырецкая 1-3г оф.216
                            .address__tel
                                span.span Тел:     
                                a.address__link(href="tel:+380674302151") +38 067 430 21 51
                            .address__mail
                                span.span Почта:     
                                a.address__link(href="mailto:rm1f6@ukrservice.biz") rm1f6@ukrservice.biz
                    .footer-menu
                        include ./_includes/footer-menu

                    .footer-socials
                        +socials([
                            {title: 'facebook',
                            link: '#',
                            ico: 'fab fa-facebook-square'},
                            {title: 'google',
                            link: '#',
                            ico: 'fab fa-google-plus-square'},
                            {title: 'git',
                            link: '#',
                            ico: 'fab fa-github-square'}])
                        //- i.fab.fa-facebook-square
                        //- i.fab.fa-google-plus-square
                        //- i.fab.fa-github-square
                        //- i.fas.fa-dolly-flatbed
                        //- i.far.fa-arrow-alt-circle-up
      
      
        block fixedButton
            .fixed-button
                if id === 'auth' || id === 'reg'
                    a(href="/").home__link
                        i.fas.fa-home
                else
                    a(href="#").on-top__link
                        i.far.fa-arrow-alt-circle-up


