extends _layout

block main
    section.section-home-page
        header.header
            .contacts
                .container.contacts-container
                    .work-days Пн - Пт с 9:00 - 18:00
                    .phones +38 067 430 21 51
                    .mail rm1f6@ukrservice.biz
                
            .container
                .menu-container
                    i.material-icons.menu menu

                    include _includes/menu
       
        .container.home-grid_lv2
            include _includes/carousel
            .front-content
                h1.h1 Складская техника от производителя, гарантия и качество прежде всего!
                p.p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dolor dolores, nam quae consequuntur aliquid reprehenderit consequatur quia, nisi mollitia quod ullam. Nobis dolores odio numquam, placeat autem voluptatibus facilis nihil, dolorem voluptate architecto fuga, saepe dolorum aliquam! Iste eligendi nisi iure facilis voluptatibus doloremque soluta molestiae, magni dolores ex ab nam praesentium labore sint corrupti non velit, necessitatibus facere obcaecati dolor! Doloremque minus consectetur corrupti fugiat illo voluptatibus! Sequi corrupti, cupiditate ad quae necessitatibus ipsam, cumque minus nobis nihil quas fuga quaerat hic commodi ullam iure nemo odit et porro, molestiae adipisci autem totam delectus! Mollitia voluptates ab ullam placeat maiores aperiam quam minima eveniet id tempora officia ratione similique, facilis quas aliquid corrupti repellendus facere. Libero blanditiis incidunt magnam maiores sequi tempora quibusdam porro rerum consequuntur quasi nemo consequatur numquam eius suscipit quos voluptatibus aperiam, accusantium asperiores repellat vel saepe? Animi neque repellat, ullam pariatur voluptas magnam praesentium consectetur?
            include _includes/contact-form

    section.section-catalog.layout
        .container.catalog-grid_lv2
            aside.left-sidebar
                h3.sidebar__title Каталог
                +catalogLeftSide([
                    {title: 'Гидравлическая техника',
                    products: [
                        {title: 'Рокла',
                        link: '#'},
                        {title: 'Штабелеры',
                        link: '#'},
                        {title: 'Подъемные столы',
                        link: '#'},
                        {title: 'Бочковоз и опракидыватель',
                        link: '#'}

                    ]
                    },{title: 'Электрическая техника',
                    products: [
                        {title: 'Электрические штабелеры',
                        link: '#'},
                        {title: 'Полуэлектрические штабелеры',
                        link: '#'},
                    ]
                    },{title: 'Колеса',
                    products: [
                        {title: 'Полиуретановые колеса',
                        link: '#'},
                        {title: 'Полиамидные колеса',
                        link: '#'},
                        {title: 'Резиновые колеса',
                        link: '#'},
                        {title: 'Термостойкие колеса',
                        link: '#'}
                    ]
                    },{title: 'Запчасти',
                    products: [
                        {title: 'Ремкомплекты для рокл',
                        link: '#'},
                        {title: 'Ремкомплекты для штабелеров',
                        link: '#'},
                    ]
                    }
                    ])
                
                h3.sidebar__title Новости
                +sideNews(newsList)


            section.main-content
                +catalogList([
                    {title: 'Рокла',
                    uploadImg: './src/img/truckLift.jpg',
                    products: [
                        {title: 'Рокла SYP-2000',
                        link: '#'},
                        {title: 'Рокла SYP-2500',
                        link: '#'},
                        {title: 'Рокла SYP-3000',
                        link: '#'},
                        {title: 'Рокла SYP-5000',
                        link: '#'}
                    ]
                    },{title: 'Штабелер гидравлический',
                    uploadImg: '/src/img/hand-stacker-vulkan.jpg',
                    products: [
                        {title: 'Штабелер SYG-1016',
                        link: '#'},
                        {title: 'Штабелер SYG-2016',
                        link: '#'},
                        {title: 'Штабелер SYG-1530',
                        link: '#'},
                        {title: 'Штабелер ODS',
                        link: '#'}

                    ]
                    },{title: 'Подъемные столы',
                    uploadImg: '/src/img/_4.png',
                    products: [
                        {title: 'Стол CJP 1507',
                        link: '#'},
                        {title: 'Стол CJP 3513',
                        link: '#'},
                        {title: 'Стол CJP 1010',
                        link: '#'},
                        {title: 'Стол CJP 1015',
                        link: '#'}

                    ]
                    },{title: 'Электрические штабелеры',
                    uploadImg: '/src/img/1.jpg',
                    products: [
                        {title: 'Электрические штабелеры',
                        link: '#'},
                        {title: 'Полуэлектрические штабелеры',
                        link: '#'},
                    ]
                    },{title: 'Колеса',
                    uploadImg: '/src/img/PTN200.jpg',
                    products: [
                        {title: 'Полиуретановые колеса',
                        link: '#'},
                        {title: 'Полиамидные колеса',
                        link: '#'},
                        {title: 'Резиновые колеса',
                        link: '#'},
                        {title: 'Термостойкие колеса',
                        link: '#'}
                    ]
                    },{title: 'Запчасти',
                    uploadImg: '/src/img/1.jpg',
                    products: [
                        {title: 'Ремкомплекты для рокл',
                        link: '#'},
                        {title: 'Ремкомплекты для штабелеров',
                        link: '#'},
                ]}])

    
                h3.h3__main-content Где купить складскую технику VULKAN? 
                p.p__main-content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt tenetur neque distinctio quibusdam dignissimos culpa, odio, accusantium quam quis soluta beatae ad corrupti quia quasi sunt explicabo praesentium quod officia deserunt? Omnis blanditiis beatae provident aspernatur error, mollitia animi explicabo soluta! Culpa, nostrum fuga obcaecati itaque minus temporibus dicta impedit veritatis necessitatibus possimus quaerat aliquid dolore debitis alias, provident perspiciatis accusamus illo voluptatum ea eveniet odit voluptas voluptatibus! Qui debitis rerum sint omnis earum ad ea aut culpa odio, tempore, dolores architecto perferendis! Aliquid explicabo id, nemo voluptates perspiciatis officiis dolorem architecto exercitationem ullam distinctio ad autem necessitatibus tempora rerum, debitis mollitia ex repudiandae! Reiciendis iusto unde dolorem harum? A doloribus aut provident delectus expedita labore consectetur consequuntur ipsum, architecto quibusdam magnam voluptatem earum, laudantium illo. Placeat fugit velit veritatis! Ut quas natus sed enim porro nisi unde nostrum maiores quasi saepe perferendis, rerum, modi magnam. Labore laudantium temporibus ducimus dolore explicabo? Natus, ad dolorem dolorum obcaecati saepe iure explicabo quae consequuntur illum ut unde eos placeat. Fuga ducimus dolore nesciunt nulla non quo repellendus, neque fugiat consequatur harum officiis placeat quod error commodi praesentium exercitationem a suscipit voluptas nemo expedita itaque qui. Exercitationem iste dolores excepturi dolorum ipsa ullam quibusdam impedit temporibus? Atque voluptas quasi dolore, sunt neque recusandae culpa, ducimus temporibus doloremque, expedita suscipit eos tenetur incidunt! Natus, sint labore magnam mollitia quidem beatae molestiae rerum enim quis tempora est eius alias illo tempore eveniet distinctio provident commodi ut dolor, odio pariatur! Est, odio! Aperiam aliquid delectus autem, cumque sit neque officiis ducimus?
                h3.h3__main-content Доставка товара
                p.p__main-content Lorem ipsum dolor, sit amet consectetur adipisicing elit. Temporibus necessitatibus esse, unde et, tempore, culpa amet vel laudantium voluptas tenetur reiciendis eum expedita veniam recusandae magnam pariatur sunt deserunt adipisci.
                h3.h3__main-content Как нас найти?
                
                #map

                

