include ../_mixins/index.pug

h3.sidebar__title Каталог
+catalogLeftSide([
    {title: 'Гидравлическая техника',
    products: [
        {title: 'Рокла',
        link: '#'},
        {title: 'Штабелеры',
        link: '#'},
        {title: 'Подъемные столы',
        link: '#'},
        {title: 'Бочковоз и опракидыватель',
        link: '#'}

    ]
    },{title: 'Электрическая техника',
    products: [
        {title: 'Электрические штабелеры',
        link: '#'},
        {title: 'Полуэлектрические штабелеры',
        link: '#'},
    ]
    },{title: 'Колеса',
    products: [
        {title: 'Полиуретановые колеса',
        link: '#'},
        {title: 'Полиамидные колеса',
        link: '#'},
        {title: 'Резиновые колеса',
        link: '#'},
        {title: 'Термостойкие колеса',
        link: '#'}
    ]
    },{title: 'Запчасти',
    products: [
        {title: 'Ремкомплекты для рокл',
        link: '#'},
        {title: 'Ремкомплекты для штабелеров',
        link: '#'},
    ]
    }
    ])

h3.sidebar__title Новости
+sideNews(newsList)