meta(charset='utf-8')
meta(content='' name='author')
meta(content='' name='description')
meta(content='' name='keywords')
meta(content='width=device-width, initial-scale=1' name='viewport')
meta(content='ie=edge' http-equiv='x-ua-compatible')
//- favicon block start
//- favicon block end

title Vulkan sklad

link(href='https://fonts.googleapis.com/css?family=Roboto', rel='stylesheet')
link(rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons', )
link(rel="stylesheet" href="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.css")
link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.2.0/css/all.css', integrity='sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ', crossorigin='anonymous')


link(rel="stylesheet", href="/style/app.css")

//-Google maps
script(type='text/javascript', src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDh2FS9_k84QkJbdwrSSXVdCeC_JwytW0k' async)
if id === 'main-page' || 'page-contacts'
    script(src='/js/google.js' defer)

script(type='text/javascript', src='/js/app.js' defer)

script(src="https://unpkg.com/material-components-web@latest/dist/material-components-web.min.js")


<!--[if lt IE 9]>
script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
<![endif]-->


block head



