mixin menu(menuItems)
    ul.menu__list&attributes(attributes)
        each item in menuItems
            li.menu__item
                a.menu__link( href=`${item.link}`)= item.name
mixin logo()
    a(href="/" class="logo") Складская
        span.logo_yellow Техника

- let admin = id.slice(0,5);


//- LOGO
h2.logo_h2
    +logo()

//- Mobile menu
aside#aside.mdc-drawer.mdc-drawer--temporary.mdc-typography
    nav.mdc-drawer__drawer
        header.mdc-drawer__header
            .mdc-drawer__header-content
                +logo()
        nav#icon-with-text-demo.mdc-drawer__content.mdc-list
            if admin == 'admin'
                each item in menu.admin
                    a.mdc-list-item(href=`${item.link}`)= item.name
            else
                each item in menu.main
                    a.mdc-list-item(href=`${item.link}`)= item.name
                each item in menu.aside
                    a.mdc-list-item(href=`${item.link}`)= item.name



//- Mobile sidebar
aside#sidebar.mdc-drawer.mdc-drawer--temporary.mdc-typography
    nav.mdc-drawer__drawer
        .mdc-drawer__content
            include ./aside-content.pug

                   

//- Navigation
nav.navbar-container
    div.navbar
        if admin === 'admin'
            +menu(menu.admin)
        else
            +menu(menu.main)