include ../_mixins/index
include ./_mixins.pug

-const newsList = require('./../../data/news.json');
-const categories = require('./../../data/category.json');
-
    let vulkan = require('./../../data/vulkan.json');
    let products = [];
    vulkan.forEach(el => {
        if (el.category === 'palletTruck') {products.push(el)} 
    });

    //- console.log(products)


include ../_includes/__layout