include ../_mixins/index
include ./_mixins.pug

-const newsList = require('./../../data/news.json');
-const categories = require('./../../data/category.json');
-
    let id = 'admin'

include ../_includes/__layout