mixin socials(socials)
    ul.social__list
        each social in socials
            li.social__item
                a(href=`${social.link}`).social__link
                    i(class=`${social.ico}`).social__ico