mixin navTab(element)
    .nav-tabs
        
        ul.nav-tabs__list
            li(data-tab='1').nav-tabs__items.nav-tabs__items--active
                a.nav-tabs__link(href="#") Характкристики
            li(data-tab='2').nav-tabs__items
                a.nav-tabs__link(href="#") Описание
            li(data-tab='3').nav-tabs__items
                a.nav-tabs__link(href="#") Преимущества
        
        ul.tabs__list
            li(data-list='1').tabs__item.tabs__item--active
                table.product-props
                    thead.product-table__thead
                        tr.tr.thead__tr
                            th.th.thead__th Свойство
                            th.th.thead__th Значение 
                    tbody.product-table__tbody
                        each element in product.properties
                            tr.tr.tbody__tr
                                td.td.tbody__td= element.name
                                td.td.tbody__td= element.value
            li(data-list='2').tabs__item
                .product-description !{product.description}
            
            li(data-list='3').tabs__item
                .product-description !{product.description}