mixin categoryPropsList(categories)
    .categoty-props
        ul.categoty-props__list
            each category in categories
                li.categoty-props__item
                    a(href="admin-create-props.html").categoty-props__link= category.categoryName
                    p.p
                        small.small Кликнуть для изменения свойств категории
