mixin checkbox(name, value)
        span.form-row.form-row--checkbox
            input.input(name=name )&attributes(attributes)
            label.row__label(for=attributes.id)
                //- i.fas.fa-minus-square
                i.far.fa-square
                //- i.fas.fa-plus-square
                i.fas.fa-check-square
            span.label-name= attributes.placeholder
